/******************
General Body
******************/
.container{margin: 80px 0 80px 0;}
.header{text-align: center}
.body{text-align:left}
.deactive{display: none;}
#customer{margin-top: 40px;}
#customerButton{
	display:inline-block;
}
#settingsInput{
	margin-left:150px;
	margin-top:30px;
}

/******************
Banner Head
******************/
.logo{
margin-top: 0;
max-height: 70px;
}
#HT-Header{
	font-size: 50px;
color:white;
text-align: center;
}
#logo-left{
	float:left;
}
#logo-right{
	float:right;
}

/******************
Tabs Bar
******************/
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 5px;
	text-decoration:none;
	-moz-box-shadow: 5px -5px 2px -2px #00000B
	-webkit-box-shadow: 5px -5px 2px -2px #00000B
	box-shadow: 5px -5px 2px -2px #00000B
	background-color:#599bb3;
	cursor:pointer;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: left;
	margin: 3px 3px 0px 3px;
	padding: 0;
	background-color: #CCC;
	color: #222222;
}
a :visited
{
	text-decoration: none !important;
	color:#222222 !important;
}
a
{
	text-decoration: none !important;
	color:#222222 !important;
}
/******************
Table Cells
******************/
.numberInput{
	width:70px;
}
.runBtn{
	width:150px;
	padding:10px;
}
.options{
	padding:5px;
	text-align: left;
}
.label-option{
	padding:0;
	margin:0;
}
.input-option{
	padding:0;
	margin: 0;
}
.options-head{
	padding:5px;
	max-width: 450px;
}
.option-div{
	margin:5px;
	padding:5px;
	height:50px;
}
.loader{
	display:none;
}
table{
	width:99%;
}
tr{
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 5px -10px 5px -7px #276873;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  cursor:pointer;
  font-family:Arial;
  padding:10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;	
}


/******************
Buttons(clearly)
******************/
button {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background-color:#ffffff;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  cursor:pointer;
  color:#222222;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:5px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  display:block;
}
button:hover {
  background-color:#222222;
  color:#ffffff;
}
button:active {
  position:relative;
  top:1px;
}
